<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Focus Challenge - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        Email inválido
      </ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        Mínimo 6 caracteres
      </ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Entrar</ion-button>
    <ion-button type="button" expand="block" color="secondary" (click)="register()">Criar Conta</ion-button>
  </form>
</ion-content>
